@charset "UTF-8";


html {
    height: 100%;
}

header {
    width: 50%;
    margin: 120px auto 20px;
    text-align: center;
}

img {
    width: 130px;
}

.em {
    font-weight: bold
}

body {

    background: linear-gradient(to bottom, #186AC9, #FFFF00);

}

.wrapper {
    display: block;
    border-radius: 5px;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 5px 70px;
}

/* 構成2：メアドとPWの設定 */
.form-input {
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* 構成3：ログインと新規ユーザー */
.loginbtn {
    text-align: right;
}

#login-button {
    display: inline-block;
    color: white;
    background-color: #FF3333;
    border-radius: 7px;
    border: solid 0px;
    width: 120px;
    height: 30px;
}

.new-user {
    text-align: center;
}

/* ログイン（ログアウト）ページレイアウト */
.input.input {
    height: 20px;
}
