@charset "utf-8";

html {}

body {}


/* 記述：loginページ */
/* 上から下にグラデーションするため2行追加し、カラーのコード記載 */
.background_login {
    background: linear-gradient(blue, yellow);
}

/* header */
header {
    z-index: 3;
    background: #186AC9;
}

/* 記述）topページ：アイコン */
img {
    width: 40px;
    height: 40px;
    size: 60px 70px;
    border-radius: 5px;
}

/* 記述）メインコンテンツ */
#head {
    display: flex;
    align-items: center;
    position: relative;
}

/* 記述）top等共通のハンバーガーメニュー */
.nav-menu {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    transform: translateY(-130%);
    transition: .5s ease-in-out;
    height: 100vh;
    background-color: #fff;
}

.nav-btn {
    height: 15px;
    width: 15px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    transform: rotate(135deg);
    transition: .5s ease-in-out;

}

.nav-btn.active {
    transform: rotate(-45deg);
    transition: .5s ease-in-out;
}

.nav-menu.active {
    transform: translateY(0%);
    transition: .5s ease-in-out;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

/* 記述）topページ：改行用コマンド */
div {
    text-align: center;
    word-wrap: break-word;
}

/* 記述）topページ：テキストとフォーム間隔コマンド */
label {
    display: inline-block;
    height: 50px;
    width: 150px;
    vertical-align: top;
}

/* 記述）topページ：フォーム背景に色を付ける */
text {
    background-color: #cccccc;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* 送信ボタンに画像挿入したい */
.submit-btn {
    border: 0px;
    width: 0px;
    height: 0px;
    background: url(../img/post.png) left top no-repeat;
}

/* 記述）topページ：投稿入力欄 */
/* .text-post { */
/* width: 100px; */
/* height: 50px; */
/* } */


/* 記述)topページ：投稿ボタン */
.image {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    text-align: left;
}

/* プロフィール編集 */
.user_image_name {
    display: flex;
    justify-content: flex-end;
    position: fixed;
}

/* 記述)top:コメント編集 */
/* ①モーダルを開くボタン */
/* .modal-open { */
/* position: fixed; */
/* top: 50%;
    left: 50%;
    font-size: 16px;
    font-weight: bold;
    width: 700px;
    height: 300px;
    color: #fff;
    background: #fff;
    border: solid 1px black;
    cursor: pointer;
    translate: -50% -50%;
} */

/* モーダルと背景の指定 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 50%);
    padding: 40px 20px;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    box-sizing: border-box;
    background-color: #fff;
}

/* モーダルのホバー設定 */
/* .modal:hover {
    background: red;
    color: white;
    border-radius: 20px;
} */

/* モーダルの擬似要素の指定 */
.modal:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-left: -0.2em;
}

/* クラスが追加された時の指定 */
.modal.is-active {
    opacity: 1;
    visibility: visible;
}

/* モーダル内側の指定 */
.modal-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 600px;
    width: 90%;
}

/* モーダルを閉じるボタンの指定 */
.modal-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
    color: #fff;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
}

/* モーダルのコンテンツ部分の指定 */
.modal-content {
    background: #fff;
    text-align: left;
    line-height: 1.8;
    padding: 20px;
}

/* モーダルのコンテンツ部分のテキストの指定 */
.modal-content p {
    margin: 1em 0;
}

/* ボタンの並列 */
button {
    display: inline-block;
}

div {
    text-align: center;
}


/* 記述）ユーザー検索（フォロー・フォロー解除のボタン機能 */
.followbutton {
    background-color: red;
    color: white;
}

/* 記述）ユーザー検索（フォロー・フォロー解除のボタン機能 */
.unfollowbtn {
    color: skyblue;
    color: white;
}
