@charset "utf-8";

html {}

body {}


/* ログインページ */
/* 上から下にグラデーションするため2行追加し、カラーのコード記載 */
.background_login {
    background: linear-gradient(blue, yellow);
}

/* header */
/* 背景の高さを調整してみた（メモ） */
header {
    z-index: 3;
    background: #186AC9;
    position: fixed;
    width: 100%;
    height: 100px;
}

/* topページ */
/* 投稿内容のユーザーアイコン */
img.top_icon {
    margin: 50px 0 0 0;
}

/* ロゴ */
img.logo {
    width: 100px;
    height: 40px;
    float:left;
    padding: 30px;
}

/* テキストボックスの大きさ */
input.top_form {
    border: none;
    background: white;
    margin: 0 1px;
    vertical-align: bottom;
}

/* テキストボックスの大きさ */
input.form {
    border-color: #808080;
    border-radius: 5px;
    background: white;
    width: 200px;
    height: 30px;
    margin: 0 1px;
}

/* トップページ
/* つぶやき投稿ボタン */
button.submit_btn {
    background-color: white;
    width: 40px;
    height: 40px;
}

/* つぶやき投稿ボタンのボタン位置 */
.text-post {
    margin-left: 20%;
}
.submit {
    margin-left: 120%;
}

/* つぶやき編集・削除ボタン */
.index_button {
    margin-left: 70%;
}
/* コメント編集ボタン背景 */
.custom-button {
    background-color: white;
    border-radius: 7px;
    border: solid 0px;
    width: 40px;
    height: 40px;
}

/* 削除ボタン：通常時 */
.delete-button {
    display: inline-block;
    border-radius: 5px;
}

/* ホバー時のスタイル */
.delete-button:hover {
    background-color: white;
}
/* ホバー時の画像の色を変える(今回は白) */
.delete-button:hover img {
    filter: brightness(0) invert(1);
    /* 画像を反転させて白くする */
}

/* メインコンテンツ */
#head {
    display: flex;
    align-items: center;
    position: relative;

}

/* 投稿内容送信ボタン */
img.submit_btn {
    margin-left: 700px;
}

/* トップ等共通のハンバーガーメニュー */
li {
    padding: 20px;
    color:gray;
    border:solid 1px;
    border-color: darkblue;
}

li:hover {
    background-color: darkblue;
    color: white;
}

li a {
    padding: 20px;
    color:#808080;
}

li a:hover{
    color: white;
}

.nav-menu {
    display: block;
    position: fixed;
    z-index: 1;
    transform: translateY(-130%);
    transition: 0s ease-in-out;
    background-color: #fff;
    width: 250px;
}

.nav-btn {
    height: 15px;
    width: 15px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    transform: rotate(135deg);
    transition: 0s ease-in-out;
    margin: 10px;

}

.nav-btn.active {
    transform: rotate(-45deg);
    transition: 0s ease-in-out;
}

.nav-menu.active {
    transform: translateY(40%);
    transition: 0s ease-in-out;
    margin-right: -20px;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
    padding-top: 84px;
}

#container {
    flex: 0 0 80%;
}

/* 改行用コマンド */
div {
    text-align: center;
    word-wrap: break-word;
}

/* テキストとフォーム間隔コマンド */
label {
    display: inline-block;
    height: 40px;
    width: 10%;
    vertical-align: middle;
}

/* フォーム背景に色を付ける */
text {
    background-color: #cccccc;
}

.sidebar {
    position: fixed;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: #fff;
    color: black;
    padding: 20px;
    box-sizing: border-box;
    border-left: 1px solid #808080;
}

/* 送信ボタンに画像挿入したい */
.submit-btn {
    border: 0px;
    width: 0px;
    height: 0px;
    background: url(../img/post.png) left top no-repeat;
}

/* 投稿ボタン */
.image {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    text-align: left;
}

/* プロフィール編集 */
/* アイコン */
img {
    width: 40px;
    height: 40px;
    size: 60px 70px;
    border-radius: 5px;
}

.profile_A_image {
    float: none;
    margin: 0px -20px;
}



/* プロフィール編集：アイコン画像挿入 */
.custom-file-input {
    display: inline-block;
    margin: 0 0 15px 250px;
    background-color: #DDDDDD;
    width: 200px;
    height: 30px;
    border: solid 1px gray;
    line-height: normal;
}

/* アイコン画像挿入枠 */
.frame {
    display: inline-block;
    border: solid 1px gray;
    background-color: white;
    color: gray;
    font-size: 15px;
}

/* モーダルと背景の指定 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 50%);
    padding: 40px 20px;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    margin: 10px -50px 10px;
}

/* モーダルの擬似要素の指定 */
.modal:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-left: -0.2em;
}

/* クラスが追加された時の指定 */
.modal.is-active {
    opacity: 1;
    visibility: visible;
}

/* モーダル内側の指定 */
.modal-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 600px;
    width: 90%;
    background: #fff;
    border-radius: 8px;
    /* 角を丸くする */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* 影を追加 */
}

/* モーダルを閉じるボタンの指定 */
.modal-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 45%;
    bottom: 5%;
    width: 40px;
    height: 40px;
    color: #fff;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

/* モーダルのコンテンツ部分の指定 */
.modal-content {
    text-align: left;
    line-height: 1.8;
    padding: 20px;
}

/* モーダルのコンテンツ部分のテキストの指定 */
.modal-content p {
    margin: 1em 0;
}

/* モーダルの大きさ */
.modal-text-post {
    margin-bottom: 10%;
}

/* ボタンの並列 */
button {
    display: inline-block;
    color: white;
    background-color: #FF3333;
    border-radius: 7px;
    border: solid 0px;
    width: 150px;
    height: 30px;
}

/* ユーザー検索要素 */
/* 記述）フォローボタン機能 */
.btn-primary {
    background-color: #66CCFF;
    border-radius: 7px;
    border: solid 0px;
    padding: 5px;
}

.user_list {
    margin: 15px 250px;
}


.search_area form {
    margin: 30px 5px 30px 50px;
}

.becide {
    margin-right: 15px;
    display: flex;
    align-items: stretch;
}

/* 検索ボタン画像 */
.search_image {
    border-radius: 7px;
    width: 40px;
    margin: 0 15px
}

.user_info p {
    margin: auto;
    margin-left: 5px;
}


/* 共通 */
/* 検索ページ・フォロー・フォロワー・topページの線引き */
#under-bar {
    border-bottom: 5px solid #EEEEEE;
}

hr {
    height: 1px;
    border: none;
    background-color: #DDDDDD;
}

.search_word {
    margin-left: 190px;
}

/* ハンバーガーメニュー */


#update-button {
    color: #fff;
    background-color: #FF3333;
    border-radius: 5px;
    border:none;
}

/* プロフィールページ */
.profile {
    text-align: center;
    word-wrap: break-word;
    font-size: 18px;
}

/* プロフィール編集 */
input {
    margin: 0 0 15px 250px;
    background-color: #DDDDDD;
    width: 200px;
    height: 40px;
    border: solid 1px gray;
}

/* プロフィール情報全体 */
.profile_A {
    margin-top: 50px;
}

/* 共通箇所 */
/* ボタン文字色（コンマで区切る。button class とa は間に空白入れればOK） */

/* 横のバー要素のボタン色・配置 */
.follow-list,
.follower-list{
    margin: 10px 0 10px 30px;
    background-color: blue;
    padding: 5px;
}

.user-search {
    margin: 10px;
    background-color: blue;
    padding: 5px;
}

/* ボタンの文字色 */
.follow-list a,
.follower-list a,
.user-search a,
.follow-button a,
.unfollow-button a {
    color: white;
}

input.modal_post,
input.modal_id {
    text-align: center;
    margin: auto;
    border: solid 1px;
    background-color: white;
    width: 500px;
    height: 200px;
}

/* 記述）フォロー解除のボタン機能 */
/* 通常時前 */
.btn.btn-danger {
    border-radius: 7px;
    border: solid 0px;
}

/* ホバー時 */
.btn-danger:hover {
    color: white;
    background-color: red;
}

/* 要素の並列 */
/* 検索ページの検索コメント・ボタンの並列要素 */
.text-post,
.icon_image,
.user_list,
.user_info,
.search_area form {
    display: flex;
}




/* 共有ページ */
/* ユーザーネーム */
.user_name{
    color: white;
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

/* nab-btn */
.accordion {
    display: flex;
    justify-content: right;
    margin: 0px 20px;
    margin: 30px 20px;
    float: right;
}





/* フォローリスト */
/* アイコン一覧表示 */
.all_follow-users_icon {
    float: left;
    width: 50px;
    height: 50px;
}

img.follow-List {
    margin:0 10px;
}

/* フォローリストタイトル */
.follow-list-title {
    padding: 30px 20px 50px 100px;
    font-size: 20px;
}

/* フォローユーザーの詳細表示 */
.follow-users-all {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.follow-users-info {
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.username, .date, .post {
    text-align: none;
}

.date {
    margin-left: auto;
}

/* フォロワーリスト：下線上の余白と文字サイズ */
.follower-list-title {
    padding: 30px 20px 50px 100px;
    font-size: 20px;
}

/* フォロー・フォロワーページ共通：フォローユーザーのツイート等表示間隔 */
.username,
.date,
.post {
    display: inline-block;
}

.A {
    display: flex;
    margin-top: 30px;
}


/* アイコン・ユーザー名・つぶやき・日時位置微調整 */
.user_info {
    justify-content: space-between;
}

/* アイコン位置 */
.index_1,
.followlist_1,
.followerlist_1 {
    margin-left: 10%;
}

/* ユーザー名・つぶやき位置 */
.index_2,
.followlist_2,
.followerlist_3 {
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

/* つぶやき日時位置 */
.index_3,
.followlist_3,
.followerlist_3 {
    width: 20%;
}


/* 相手のユーザープロフィール */
.btn.btn-danger-profile {
    border-radius: 7px;
    border: solid 0px;
}

/* 相手ユーザーの情報 */
.user_profile_all {
    justify-content: space-between;
}

.users_profile_1 {
    display: flex;
    margin-top: 30px;
    margin-left: 10%;
    height: 20px;
}

.users_profile_1 img {
    float: none;
    margin-top: 10px;
}

/* ユーザー名・自己紹介の位置 */
.users_profile_2 {
    display: flex;
    text-align: left;
    vertical-align: middle;
    float: none;
    margin-bottom: 10px;
    margin-left: -4.5%;
    align-items: center;
    width: 100%;
}

.users_profile_3 {
    display: flex;
    text-align: left;
    vertical-align: middle;
    float: none;
    margin-bottom: 10px;
    margin-left: -4.5%;
    align-items: center;
    width: 100%;
}

/* 「ユーザー名」・「自己紹介」の文字表示 */
.users_profile_2 a,
.users_profile_3 a {
    margin-left: 20%;
}

/* 表示されるユーザー名・自己紹介文 */
.users_profile_2 p,
.users_profile_3 p {
    margin-left: 5%;
}


/* .flex-grow-1 button{
    margin-left: 70%;
    } */

/* フォロー・フォロー解除ボタンを右寄せ */
.d-flex.justify-content-end {
    display: flex;
    justify-content: flex-end;
    width: 60%;
}
