@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;

    /* 記述：ハンバーガーメニュー（∨＝rotate） */
    .nav-menu {
        display: block;
        position: fixed;
        z-index: 2;
        padding-top: 60px;
        transform: rotate(-100%);
        -webkit-transform: rotate(135deg);
        transition: .5s ease-in-out;
        height: 100vh;
    }

    .nav-menu.active {
        transform: rotate(0%);
        -webkit-transform: rotate(135deg);
        transition: .5s ease-in-out;
    }

    /* main content */
    #row {
        display: flex;
        flex-flow: row wrap;
    }

    #container {
        flex: 0 0 80%;
    }

    #side-bar {
        flex: 0 0 19%;
        border-left: 1px solid #727272;
    }
}
